@model IEnumerable<FinalSkillsLabProject.Common.Models.TrainingModel>

@{
    ViewBag.Title = "All Trainings";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/%40fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script type="text/javascript" src="~/Scripts/DisplayByRoleScript.js"></script>
    <script type="text/javascript" src="~/Scripts/ClickableRowScript.js"></script>
    <link rel="stylesheet" href="~/Content/ClickableRowStyle.css" />
</head>
<body>
    <a href="@Url.Action("Create")" class="btn d-none" id="btnCreateTraining" style="text-decoration: none;" data-toggle="tooltip" title="Create Training">
        <i class="fa-solid fa-plus me-2"></i>Training
    </a>
    <table class="table table-hover user-select-none">
        <thead>
            <tr>
                <th>
                    Training
                </th>
                <th>
                    Description
                </th>
                <th>
                    Deadline
                </th>
                <th>
                    Capacity
                </th>
                <th>
                    Priority Department
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var training in ViewBag.Trainings)
        {
            <tr class="clickable-row font-1" data-href="@Url.Action("Details", "Training", new { id = training.TrainingId })">
                <td>
                    @training.TrainingName
                </td>
                <td>
                    @training.Description
                </td>
                <td>
                    @training.Deadline.ToShortDateString()
                </td>
                <td>
                    @training.Capacity
                </td>
                <td>
                    @(training.PriorityDepartmentName == null ? "N/A" : training.PriorityDepartmentName)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Training", new { id = training.TrainingId })" class="btn btnCustomSquare d-none btnEdit" data-toggle="tooltip" title="Edit Training">
                        <i class="fa-solid fa-edit"></i>
                    </a>
                    @Html.ActionLink("Enroll", "Enroll", "Enrollment", new { id = training.TrainingId }, new { @class = "btn btnCustomSquare d-none btnEnroll" })
                </td>
            </tr>
        }
    </table>
</body>
</html>
