@model List<FinalSkillsLabProject.Common.Models.TrainingModel>
@using FinalSkillsLabProject.Common.Models

@{
    ViewBag.Title = "All Trainings";
    var currentRole = ((UserViewModel)Session["CurrentUser"]).Role.RoleName.ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/%40fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script type="text/javascript" src="~/Scripts/DisplayByRoleScript.js"></script>
    <script type="text/javascript" src="~/Scripts/ClickableRowScript.js"></script>
    <link rel="stylesheet" href="~/Content/ClickableRowStyle.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <style>
        #pageSizeInput, #pageNumInput {
            max-width: 3.75rem;
        }
    </style>
</head>
<body>

    <div class="row">
        <div class="col my-4">
            <a href="@Url.Action("Create")" class="btn d-none" id="btnCreateTraining" style="text-decoration: none;" data-toggle="tooltip" title="Create Training">
                <i class="fa-solid fa-plus me-2"></i>Training
            </a>
        </div>
        <div class="col my-4">
            <form id="pageSizeForm" class="d-flex flex-row">
                <div class="input-group flex-nowrap justify-content-end">
                    <label for="pageSize" class="input-group-text" id="pageSizeLabel">Items per page</label>
                    <input type="number" class="form-control" id="pageSizeInput" name="pageSize" value="@ViewBag.PageSize" min="5" max="20" aria-label="Page Size" aria-describedby="pageSizeLabel">
                </div>
                <button type="submit" id="pageSizeBtn" class="btn btn-outline-primary d-none">Apply</button>
            </form>
        </div>
    </div>

    <table class="table table-hover user-select-none">
        <thead>
            <tr>
                <th>
                    Training
                </th>
                <th>
                    Description
                </th>
                <th>
                    Deadline
                </th>
                <th>
                    Capacity
                </th>
                <th>
                    Priority Department
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var training in Model)
            {
                <tr class="clickable-row font-1" data-href="@Url.Action("Details", "Training", new { id = training.TrainingId })">
                    <td>
                        @training.TrainingName
                    </td>
                    <td>
                        @training.Description
                    </td>
                    <td>
                        @training.Deadline.ToShortDateString()
                    </td>
                    <td>
                        @training.Capacity
                    </td>
                    <td>
                        @(training.PriorityDepartmentName == null ? "N/A" : training.PriorityDepartmentName)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Training", new { id = training.TrainingId })" class="btn btnCustomSquare d-none btnEdit" data-toggle="tooltip" title="Edit Training">
                            <i class="fa-solid fa-edit"></i>
                        </a>
                        @Html.ActionLink("Enroll", "Enroll", "Enrollment", new { id = training.TrainingId }, new { @class = "btn btnCustomSquare d-none btnEnroll" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-3">
            <nav aria-label="Page Navigation Previous" class="my-3">
                <ul class="pagination">
                    <li class="page-item">
                        <a id="previousPageLink" class="page-link" aria-label="Previous">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <form id="pageNumForm" class="d-flex flex-row align-items-center my-3">
                <label for="page" class="me-2" id="pageNumLabel">Page</label>
                <input type="number" name="page" class="form-control me-2" id="pageNumInput" value="@ViewBag.Page" min="1" max="@ViewBag.TotalPages" aria-label="Page Number" aria-describedby="pageNumLabel">
                <label for="pageCount">of <span id="pageCountSpan">@ViewBag.TotalPages</span></label>
                <button type="submit" id="pageNumBtn" class="btn btn-outline-primary d-none">Apply</button>
            </form>
        </div>

        <div class="col-md-3">
            <nav aria-label="Page Navigation Next" class="my-3">
                <ul class="pagination justify-content-end">
                    <li class="page-item">
                        <a id="nextPageLink" class="page-link" aria-label="Next">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <script>
        $(document).ready(function () {
            var detailsBaseUrl = "@Url.Action("Details", "Training", new { id = "__placeholder__" })";
            var editBaseUrl = "@Url.Action("Edit", "Training", new { id = "__placeholder__" })";
            var enrollBaseUrl = "@Url.Action("Enroll", "Enrollment", new { id = "__placeholder__" })";

            $("#pageSizeForm").submit(function (e) {
                e.preventDefault();
                return false;
            });

            $("#pageNumForm").submit(function (e) {
                e.preventDefault();
                return false;
            });

            $("#pageSizeBtn").click(function () {
                var pageSize = $("#pageSizeInput").val();
                var totalTrainings = @ViewBag.TotalTrainings;
                var totalPages = Math.ceil(totalTrainings / pageSize);

                if (pageSize < 5 || pageSize > 20) {
                    toastr.error("Page size must be between 5 and 20!");
                    return false;
                }

                $("#pageCountSpan").text(totalPages);
                $("#pageNumInput").attr("max", totalPages);
                $("#pageNumInput").val(1);
                $("#pageNumBtn").click();

                $.ajax({
                    type: "POST",
                    url: "/Training/Index",
                    data: { pageSize: pageSize },
                    dataType: "json",

                    success: function (response) {
                        updateTable(response.result);
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            });

            $("#pageNumBtn").click(function () {
                var pageNumber = $("#pageNumInput").val();
                var pageSize = $("#pageSizeInput").val();
                var totalPages = $("#pageCountSpan").text();

                if (pageNumber < 1 || pageNumber > totalPages) {
                    toastr.error(`Page number must between 1 and ${totalPages}!`);
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: "/Training/Index",
                    data: { page: pageNumber, pageSize: pageSize },
                    dataType: "json",

                    success: function (response) {
                        updateTable(response.result);
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            });

            $("#previousPageLink").click(function () {
                var currentPage = parseInt($("#pageNumInput").val());

                if (currentPage > 1) {
                    var newPageNumber = currentPage - 1;
                    $("#pageNumInput").val(newPageNumber);
                    $("#pageNumBtn").click();
                }

                else {
                    toastr.warning("First page reached!");
                }
            });

            $("#nextPageLink").click(function () {
                var currentPage = parseInt($("#pageNumInput").val());
                var maxPage = parseInt($("#pageCountSpan").text());

                if (currentPage < maxPage) {
                    var newPageNumber = currentPage + 1;
                    $("#pageNumInput").val(newPageNumber);
                    $("#pageNumBtn").click();
                }

                else {
                    toastr.warning("Last page reached!");
                }
            });

            function updateTable(trainings) {
                var tableBody = $("table tbody");
                tableBody.empty();

                $.each(trainings, function (index, training) {
                    var trainingId = training.TrainingId;
                    var detailsUrl = detailsBaseUrl.replace("__placeholder__", trainingId);
                    var editUrl = editBaseUrl.replace("__placeholder__", trainingId);
                    var priorityDepartment = training.PriorityDepartmentName == null ? "N/A" : training.PriorityDepartmentName;

                    var row =
                        `<tr class="clickable-row font-1" data-href="${detailsUrl}">
                            <td>${training.TrainingName}</td>
                            <td>${training.Description}</td>
                            <td>${new Date(parseInt(training.Deadline.match(/\d+/)[0])).toLocaleDateString()}</td>
                            <td>${training.Capacity}</td>
                            <td>${priorityDepartment}</td>
                            <td>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (currentRole.Equals("Admin"))
                                    {
                                        <a href="${editUrl}" class="btn btnCustomSquare btnEdit" data-toggle="tooltip" title="Edit Training">
                                            <i class="fa-solid fa-edit"></i>
                                        </a>
                                    }

                                    else if (currentRole.Equals("Employee"))
                                    {
                                        <a href="${enrollBaseUrl.replace("__placeholder__", trainingId)}" class="btn btnCustomSquare btnEnroll">Enroll</a>
                                    }
                                }
                                </td>
                        </tr>`;
                    tableBody.append(row);
                });
            }
        });
    </script>
}