@model IEnumerable<FinalSkillsLabProject.Common.Models.TrainingModel>

@{
    ViewBag.Title = "All Trainings";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All Trainings</title>
</head>
<body>
    <p>
        @Html.ActionLink("New Training", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-hover">
        <tr>
            <th>
                Training
            </th>
            <th>
                Description
            </th>
            <th>
                Deadline
            </th>
            <th>
                Capacity
            </th>
            <th>
                Priority Department Name
            </th>
            <th></th>
        </tr>

        @foreach (var training in ViewBag.Trainings)
        {
            <tr>
                <td>
                    @training.TrainingName
                </td>
                <td>
                    @training.Description
                </td>
                <td>
                    @training.Deadline
                </td>
                <td>
                    @training.Capacity
                </td>
                @*<td>
                        @(training.PriorityDepartment == null ? "N/A" : training.PriorityDepartment)
                    </td>*@
                <td>
                    @(training.PriorityDepartmentName == null ? "N/A" : training.PriorityDepartmentName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Training", new { id = training.TrainingId }, null) |
                    @*@Html.ActionLink("Details", "Details", new { id = training.TrainingId }) |*@
                    @Html.ActionLink("Delete", "Delete", "Training", new { id = training.TrainingId })
                </td>
            </tr>
        }

    </table>
</body>
</html>
