@model List<FinalSkillsLabProject.Common.Models.EnrollmentViewModel>

@{
    ViewBag.Title = "Employee Enrollments";
}

@section ExcludeBodyContent {
    <head>
        <link rel="stylesheet" href="~/Content/AccordionStyle.css" />
        <script type="text/javascript" src="~/Scripts/GetPrerequisiteMaterialsScript.js"></script>
        <script type="text/javascript" src="~/Scripts/NewTabScript.js"></script>

        <style>
            #statusDropdownMenu, #trainingDropdownMenu {
                border: 1px solid gray;
            }
        </style>
    </head>

    <body>
        @*<div class="row justify-content-end w-100">
                <div class="col-md-3 col-sm-4">
                    <div class="card me-4 mt-3">
                        <div class="card-header">
                            Status Filter
                        </div>
                        <div class="card-body d-flex flex-column align-items-center">
                            <div class="d-inline-flex flex-wrap" role="group" aria-label="Basic outlined example">
                                <button type="button" class="btn btn-outline-secondary flex-grow-1 btn-sm me-1 rounded my-1">Pending</button>
                                <button type="button" class="btn btn-outline-secondary flex-grow-1 btn-sm me-1 rounded my-1">Approved</button>
                                <button type="button" class="btn btn-outline-secondary flex-grow-1 btn-sm me-1 rounded my-1">Selected</button>
                                <button type="button" class="btn btn-outline-secondary flex-grow-1 btn-sm me-1 rounded my-1">Declined</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        @*<div class="row justify-content-end w-100">
                <div class="col-md-3 col-sm-4">
                    <div class="card me-4 mt-3">
                        <div class="card-header">
                            Filters
                        </div>
                        <div class="card-body">
                            <div class="dropdown me-2">
                                <button class="btn bg-transparent dropdown-toggle w-100" type="button" id="statusDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                    Status
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="statusDropdownMenu">
                                    <li><button class="dropdown-item" type="button">Action</button></li>
                                    <li><button class="dropdown-item" type="button">Another action</button></li>
                                    <li><button class="dropdown-item" type="button">Something else here</button></li>
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button class="btn bg-transparent dropdown-toggle w-100" type="button" id="statusDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                    Status
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="statusDropdownMenu">
                                    <li><button class="dropdown-item" type="button">Action</button></li>
                                    <li><button class="dropdown-item" type="button">Another action</button></li>
                                    <li><button class="dropdown-item" type="button">Something else here</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="row w-100">
            <div class="col-2 ps-5 mt-4">
                <div class="card ms-2">
                    <div class="card-header text-center">
                        Hangfire Dashboard
                    </div>
                    <div class="card-body text-center">
                        <a onclick="openInNewTab('/hangfire')" class="btn d-none w-100" id="hangfireBtn" style="text-decoration:none;" data-toggle="tooltip" title="Hangfire Dashboard">
                            View Processing
                        </a>
                    </div>
                </div>
            </div>

            <div class="offset-7 col-md-3 col-sm-4">
                <div class="card me-4 mt-4">
                    <div class="card-header">
                        Filters
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="dropdown">
                                    <button class="btn bg-transparent dropdown-toggle w-100" type="button" id="statusDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                        Status
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="statusDropdownMenu">
                                        <li><button class="dropdown-item" type="button">All</button></li>
                                        <li><button class="dropdown-item" type="button">Another action</button></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="dropdown">
                                    <button class="btn bg-transparent dropdown-toggle w-100" type="button" id="trainingDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                        Training
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="trainingDropdownMenu">
                                        <li><button class="dropdown-item" type="button">All</button></li>
                                        <li><button class="dropdown-item" type="button">Another action</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="mx-5 mt-5 header">
            <div class="row">
                <div class="col-2 header-text">
                    Employee
                </div>

                <div class="col-2 header-text">
                    Department
                </div>

                <div class="col-2 header-text">
                    Training
                </div>

                <div class="col-2 header-text">
                    Enrollment Date
                </div>

                <div class="col-2 header-text">
                    Priority Department
                </div>
            </div>
        </div>

        @if (Model == null || !Model.Any())
        {@Html.Partial("~/Views/Common/NoData.cshtml") }

    else
    {
        <div class="pt-4 p-5">
            <div class="accordion" id="enrollmentAccordion">
                @foreach (var enrollment in Model)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_@enrollment.EnrollmentId">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@enrollment.EnrollmentId" aria-expanded="false" aria-controls="collapse_@enrollment.EnrollmentId" data-enrollment-id="@enrollment.EnrollmentId">
                                <div class="col-2 accordion-text">
                                    @enrollment.FirstName @enrollment.LastName
                                </div>

                                <div class="col-2 accordion-text">
                                    @enrollment.EmployeeDepartment
                                </div>

                                <div class="col-2 accordion-text d-none" id="manager_@enrollment.EnrollmentId">
                                    @enrollment.ManagerFirstName @enrollment.ManagerLastName
                                </div>

                                <div class="col-2 accordion-text ms-1">
                                    @enrollment.TrainingName
                                </div>

                                <div class="col-2 accordion-text ms-3">
                                    @enrollment.EnrollmentDate.ToShortDateString()
                                </div>

                                <div class="col-2 accordion-text ms-1">
                                    @enrollment.PriorityDepartmentName
                                </div>

                                @if (enrollment.EnrollmentStatus == "Approved")
                                {
                                    <span id="badge_@enrollment.EnrollmentId" class="badge bg-success">@enrollment.EnrollmentStatus</span>
                                }
                                else if (enrollment.EnrollmentStatus == "Pending")
                                {
                                    <span id="badge_@enrollment.EnrollmentId" class="badge bg-warning text-dark">@enrollment.EnrollmentStatus</span>
                                }
                                else if (enrollment.EnrollmentStatus == "Declined")
                                {
                                    <span id="badge_@enrollment.EnrollmentId" class="badge bg-danger">@enrollment.EnrollmentStatus</span>
                                }
                                else if (enrollment.EnrollmentStatus == "Selected")
                                {
                                    <span id="badge_@enrollment.EnrollmentId" class="badge bg-primary">@enrollment.EnrollmentStatus</span>
                                }
                            </button>
                        </h2>

                        <div id="collapse_@enrollment.EnrollmentId" class="accordion-collapse collapse" aria-labelledby="heading_@enrollment.EnrollmentId" data-bs-parent="#enrollmentAccordion">
                            <div class="accordion-body" id="body_@enrollment.EnrollmentId">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    </body>
}